.input-container {
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.input-container__icon {
  position: absolute;
  display: flex;

  &--select {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    right: 4px;
  }

  &--select-clean {
    right: 0;
  }

  &--search {
    left: 16px;
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    z-index: 2;
  }
}

.input-label {
  font-size: 16px;
  line-height: 24px;
  color: $gray-100;
  margin-right: 14px;
}

.input {
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
  border-radius: 6px;
  border: 1px solid $gray-50;
  color: $gray-100;
  font-weight: 400;
}

.input-text {
  padding: 8px 12px;
  border-radius: 6px;
}


.input {
  background: #FFFFFF;
  border: 1px solid $gray-40;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 12px;

  &--select {
    position: relative;
    padding: 8px 24px 6px 12px;
    border: 1px solid $gray-50;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;

    &:hover,&:focus,&:active,&:focus-visible {
      outline-width: 2px;
      outline-style: solid;
      outline-color: $color-green;
      outline-offset: 0;
    }

    &-clear {
      border: none;
    }
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6D6F;
  }

  &:hover,&:focus-visible {
    outline: 2px solid $color-green;
    outline-offset: 0;
  }

  &--search {
    padding-left: 42px;
    width: 100%;
  }
}

.input-row {
  display: flex;
  align-items: center;
  padding-bottom: 24px;

  &--big {
    padding-bottom: 14px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.label-checkbox {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;

  &:focus,&:active {
    outline-color: $color-green;
  }
}

.input-checkbox:checked + .label-checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 13px;
  left: 4px;
  top: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/img/checked.svg")
}
