$hd: 1920px;
$desktop: 1280px;
$tablet-pro: 1024px;
$tablet: 800px;
$vertical-tablet: 600px;
$phone: 400px;

$gray-30: #F3F3F3;
$gray-40: #DBDCDE;
$gray-50: #D7D8DA;
$gray-70: #A9ABAE;
$gray-75: #919293;
$gray-80: #6C6D6F;
$gray-100: #2F2F30;

$color-links: #6665DD;
$color-white: #FFFFFF;
$color-green: #2EB670;
$color-special: #FFFBEC;

$small-font-size: 12px;
$main-font-size: 16px;

$main-font: 'Work Sans', 'Arial', sans-serif;
$second-font: 'Source Code Pro', 'Arial', sans-serif;


